

 
    <div class="panel-body">
      <div class="content-title">Welcome to mybook!</div>
      <div class="content-body"><p>I created this rails app as part of my steps on becoming a web developer, <span>shout out</span> to the <span><a href="https://theodinproject.com">theodinproject.com</a></span> for their efforts on helping
      people to learn web development.</p></div>
      <div class="divider"></div>
      <div class="content-title">Things i've learned so far</div>
      <div class="content-body"><p>I'm just at <span><a href="https://www.theodinproject.com/courses/web-development-101">Web Development 101</a></span> and i already learned a lot. Especially the things
     i thought i already know. </p></div>
    </div>
    <div class="panel-footer"></div>
  </div>
