

<div class="form-head blue">
  <p class="form-title">Login</p>
</div>
<div class="input-container">
  <!-- Username/Password -->
</div>
<div class="submit-container">
  <!-- Submit button -->
</div>