// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.entries-title{
  font-family: roboto;
  text-align: center;
  color: blue;
  
}

.header-background{
  border-top: 1px solid black;
  width: 100%;
  height: 50px;
}