// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";


.divider{
  border-top: 1px solid black;
}

.panel-heading span{
  font-weight: bold;
  font-family: monospace;
  font-size: 1.3em;
}

.content-body{
  padding: 10px;
  margin: 10px;
  
}

.content-title{
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  font-size: 25px;
}

p{
  letter-spacing: 1px;
}


ul, li{
  display: inline-block;
}

a{
  margin: 5px;
}